<table style="width:100%" border="1">
    <caption>AWS Cloud Account - Name: {{ result[cloud_account]['name'] }} - ID: {{ result[cloud_account]['awsCloudAccountID'] }} </caption>
    <tr>
        <th rowspan="2">Severity</th>
        <th rowspan="2">Rule</th>
        <th colspan="2">Entity</th>
        <tr>
            <th>Type</th>
            <th>Name</th>
        </tr>
    </tr>
    {% for rule in result[cloud_account]['High'] %}
    <tr>
        <td rowspan="{{ result[cloud_account]['High'][rule]['entities']|length + 1}}">High</td>
        <td rowspan="{{ result[cloud_account]['High'][rule]['entities']|length + 1}}">{{ rule }}</td>
        {% for entity in result[cloud_account]['High'][rule]['entities'] %}

            <tr>
                <td>{{ entity['type'] }}</td>
                <td>{{ entity['name'] }}</td>
            </tr>
        {% endfor %}
    </tr>
    {% endfor %}
    {% for rule in result[cloud_account]['Medium'] %}
    <tr>
        <td rowspan="{{ result[cloud_account]['Medium'][rule]['entities']|length + 1}}">Medium</td>
        <td rowspan="{{ result[cloud_account]['Medium'][rule]['entities']|length + 1}}">{{ rule }}</td>
        {% for entity in result[cloud_account]['Medium'][rule]['entities'] %}

    <tr>
        <td>{{ entity['type'] }}</td>
        <td>{{ entity['name'] }}</td>
    </tr>
    {% endfor %}
    </tr>
    {% endfor %}
    {% for rule in result[cloud_account]['Low'] %}
    <tr>
        <td rowspan="{{ result[cloud_account]['Low'][rule]['entities']|length + 1}}">Low</td>
        <td rowspan="{{ result[cloud_account]['Low'][rule]['entities']|length + 1}}">{{ rule }}</td>
        {% for entity in result[cloud_account]['Low'][rule]['entities'] %}

    <tr>
        <td>{{ entity['type'] }}</td>
        <td>{{ entity['name'] }}</td>
    </tr>
    {% endfor %}
    </tr>
    {% endfor %}
</table>
</br>
</br>
